.box_div {
  margin: 5%;
}
.img_teacher {
  width: 60%;
}
.descrip_teacher {
  text-indent: 50px;
}
.card_teacher {
  word-break: break-all;
}
.ant-card-body {
  background-color: #fff;
  color: rgb(53, 51, 51);
}
