.video {
  margin: 2% 0px 0px 0px;
  width: 100%;
}

.card {
  font-size: 1.2vm;
  width: 60vw;
}

.ant-card-body {
  background-color: #fff;
  /* color: rgb(53, 51, 51); */
  font-size: 1.1vw;
  color: rgb(102, 101, 101);
}

.notice-noout {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.left-text-project {
  font-size: 1.5vw;
}
.left-text-introduce {
  margin: 5% 0px 0px 0px;
  font-size: 1.5vw;
}
.left_img {
  width: 3vw;
}

.project-img {
  width: 100%;
}
.project-img:hover {
  box-shadow: 2px 8px 4px rgba(91, 163, 245, 0.904),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.project_content {
  font-size: 1.2vw;
  font-weight: bolder;
  color: #515a6e;
}

.link {
  font-size: 1.2vw;
}
.introduct {
  margin-top: 3%;
  font-size: 1.5vw;
  color: gray;
}
.img_notice {
  width: 1.5vw;
}
.col_introduce {
  margin-top: 3%;
}
