.join {
  margin: 5vw;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
  color: #515a6e;
}

.join h5 {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
}

.join .col-img {
  width: 2vw;
  height: 2vw;
  margin-left: 2vw;
}

.join .col-title {
  font-weight: bold;
  font-size: 1.5vw;
  display: inline-block;
  margin-bottom: 0;
}
.join .col-english {
  margin: 0;
  margin-left: 4.2vw;
  font-size: 1.2vw;
}

@media print {
  .no-print {
    display: none;
  }
  .join {
    margin: 0;
  }
  .ant-col-xs-24 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ant-col-xs-8 {
    display: block;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
}
