@import '~antd/dist/antd.css';
.content {
  background-color: aquamarine;
  height: 800px;
  width: 200px;
}
.ant-layout-header {
  color: white;
  background-color: white;
  height: 120px;
}
.menus {
  margin-left: auto;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: solid white;
}

@media screen and (max-width: 768px) {
  .nar {
    font-size: 16px;
  }
  .turing-title .ant-menu-title-content {
    font-size: 20px;
  }
}
