.div_box {
  margin-top: 3%;
}

.span_time {
  font-size: 1.2vw;
  /* margin-left: 20%; */
  color: rgb(128, 128, 128);
}

.img {
  width: 100%;
  height: 45vh;
}
.card_col_foot {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.projectcontent {
  font-size: 1.2vw;
  color: rgb(128, 128, 128);
}
.p_name {
  font-size: 1.5vw;
}
.p_memberTechnology {
  font-size: 1.1vw;
}
.h1_joinmerber {
  font-size: 1.8vw;
  text-align: center;
  color: #515a6e;
}
.joinmerber_row {
  margin: 3% 20%;
  /* box-shadow: '0px 6px 12px -4px #888888'; */
}
